In [1]:
from Utils.request import Request

request = Request()

In [2]:
data = request.get_restaurant()
data.loc[(data["city"]== "unknown")]

Empty DataFrame
Columns: [opening_hours, city, creation_date, id, street, email, phone_number, name]
Index: []

In [3]:
data = request.big_data

In [4]:
data.drop(data.loc[(data["city"] == "unknown")].index,inplace=True)

In [5]:
data.loc[(data["city"] == "unknown")]

Empty DataFrame
Columns: [price, restaurant_id, orderable_id, orderable_name, order_id, amount_of_item, order_item_id, creation_date_order, customer_id, opening_hours, city, restaurant_creation_date, street, email, phone_number, restaurant_name, real_price, day_of_week, day_name, day_of_month, day_of_year, month, month_name, year, week]
Index: []

[0 rows x 25 columns]

In [6]:
data = request.big_data
data.loc[:,"city"].unique()

array(['San Francisco', 'New York'], dtype=object)

In [7]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data.count()["order_id"]

0

In [8]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data

Empty DataFrame
Columns: [price, restaurant_id, orderable_id, orderable_name, order_id, amount_of_item, order_item_id, creation_date_order, customer_id, opening_hours, city, restaurant_creation_date, street, email, phone_number, restaurant_name, real_price, day_of_week, day_name, day_of_month, day_of_year, month, month_name, year, week]
Index: []

[0 rows x 25 columns]

In [9]:
request.big_data["city"].unique()

array(['San Francisco', 'New York'], dtype=object)

In [55]:
my_year = 2019

my_city = "New York"

year = request.big_data.loc[(request.big_data["year"]== my_year)]

year["city"]

year.loc[(year["city"] == my_city)]

cities = year.loc[(year["city"] == my_city)]

newData = cities.loc[:,["city","real_price"]].groupby("city",as_index=False).sum()

newData = newData["real_price"][0]

newData

numpy.float64

In [47]:
newData

       city    real_price
0  New York  2.638104e+06

2638104.18471276

In [37]:
cities

,price,restaurant_id,orderable_id,orderable_name,order_id,amount_of_item,order_item_id,creation_date_order,customer_id,opening_hours,...,restaurant_name,real_price,day_of_week,day_name,day_of_month,day_of_year,month,month_name,year,week
1017,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...,24528,3,67386,2017-10-01 14:02:00,1550,13:00-23:00,...,Friends Of Mr. Arthur J. Okeeffe,84.673581,6,Sunday,1,274,10,October,2017,39
1025,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...,30168,3,82575,2017-10-23 21:01:00,3645,13:00-23:00,...,Friends Of Mr. Arthur J. Okeeffe,84.673581,0,Monday,23,296,10,October,2017,43
1026,28.300000,260,1710,Kung Po Shrimp,30168,3,82574,2017-10-23 21:01:00,3645,13:00-23:00,...,Friends Of Mr. Arthur J. Okeeffe,84.900000,0,Monday,23,296,10,October,2017,43
1051,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...,41800,3,114031,2017-12-08 21:37:00,5320,13:00-23:00,...,Friends Of Mr. Arthur J. Okeeffe,84.673581,4,Friday,8,342,12,December,2017,49
1052,20.000000,260,1713,"Cotes du Rhone, Rasteau, J. Bressy, 1998 (Rhone)",41800,1,114032,2017-12-08 21:37:00,5320,13:00-23:00,...,Friends Of Mr. Arthur J. Okeeffe,20.000000,4,Friday,8,342,12,December,2017,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486004,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,40976,3,111778,2017-12-05 15:36:00,8749,13:00-23:00,...,Harvard University,66.600000,1,Tuesday,5,339,12,December,2017,49
486008,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,21950,3,60389,2017-09-18 14:38:00,3694,13:00-23:00,...,Harvard University,66.600000,0,Monday,18,261,9,September,2017,38
486017,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,31153,2,85212,2017-10-27 18:56:00,2901,13:00-23:00,...,Harvard University,44.400000,4,Friday,27,300,10,October,2017,43
486020,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,32289,2,88258,2017-10-31 21:58:00,3532,13:00-23:00,...,Harvard University,44.400000,1,Tuesday,31,304,10,October,2017,44
486028,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,36661,1,100134,2017-11-18 15:01:00,9291,13:00-23:00,...,Harvard University,22.200000,5,Saturday,18,322,11,November,2017,46

In [ ]:
newData = cities.loc[:,["city","real_price"]].groupby("city",as_index=False).sum()

newData.loc[my_city,"real_price"]