In [ ]:
from Utils.request import Request

request = Request()
import pandas as pd

In [ ]:
data = request.big_data
data.drop(data.loc[(data["city"] == "unknown")].index,inplace=True)

In [ ]:
request.get_list_city()[0]

In [ ]:
data.loc[(data["city"] == "unknown")]

In [ ]:
data = request.big_data
data.loc[:,"city"].unique()

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data.count()["order_id"]

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Francisco") & (data["year"] == 2019)]
data.count()["order_id"]

In [ ]:
data = request.big_data
data

In [ ]:
data.columns

In [ ]:
data["orderable_name"].value_counts()

In [ ]:
city_group = data.groupby(["city"])
city_year_group = data.groupby(["city","year"])

In [ ]:
city_year_group.get_group(("New York",2017))["restaurant_name"].value_counts()

In [ ]:
year_for_city_group = city_group.get_group("New York").groupby("year")
new_data = year_for_city_group.get_group(2017)
new_data["restaurant_name"].value_counts()

In [ ]:
data["creation_date_order"].value_counts()

In [ ]:
data["opening_hours"].unique()

In [ ]:
data = request.big_data
data = data[["order_id","price","real_price","restaurant_name","city","day_of_month","month","year","creation_date_order"]]
data

In [ ]:
data.groupby(["order_id","creation_date_order"])["real_price"].agg(["sum","mean","max"])

In [ ]:
data["real_price"] = data.groupby("order_id")["real_price"].sum()

In [ ]:
data.groupby("order_id",as_index=False)["real_price"].sum()

In [ ]:
data = request.big_data
city_group = data.groupby(["city"])

In [ ]:
data.columns

In [ ]:
new_data = city_group[["order_id","creation_date_order","month","year"]].get_group("New York").groupby(["order_id","month","year"],as_index=False)["creation_date_order"].value_counts()

In [ ]:
data = request.big_data
city_group = data.groupby(["city"])
new_data = city_group[["order_id","creation_date_order","month","year","city"]].get_group("New York").groupby(["order_id","month","year","city"],as_index=False)["creation_date_order"].value_counts()
new_data = new_data.sort_values("creation_date_order",ascending=False)
new_data

In [ ]:
data = request.big_data

In [ ]:
data

In [ ]:
order_group = data[["order_id","real_price","restaurant_name"]].groupby("order_id",as_index=False)

In [ ]:
restaurant = order_group.value_counts()[["restaurant_name","count"]].groupby("restaurant_name",as_index=False).sum().sort_values("count",ascending=False).head(10)
restaurant.rename(columns={"restaurant_name":"Restaurant"},inplace=True)
restaurant.rename(columns={"count":"Number of order"},inplace=True)

In [ ]:
restaurant

In [ ]:
data = request.big_data
#data.drop((data[data["city"] == "unknown"].columns))
data["city"].unique()

In [ ]:
data = request.big_data
data

In [ ]:
data = request.big_data
year_group = data.groupby("year",as_index=False)
city_year_group = year_group.get_group(2017).groupby("city")
new_data = city_year_group.get_group("New York")
new_data = new_data.groupby("order_id",as_index=False)[["order_id","real_price","restaurant_name","year","month"]].value_counts()
new_data = new_data.loc[:,["order_id","restaurant_name"]].groupby("restaurant_name",as_index=False).value_counts()
new_data = new_data.groupby("restaurant_name",as_index=False).count().sort_values("count",ascending=False)
new_data.head(10)

In [ ]:
data = request.big_data
year_group = data.groupby("year",as_index=False)
city_year_group = year_group.get_group(2017).groupby("city")
new_data = city_year_group.get_group("New York")
new_data = new_data.groupby("order_id",as_index=False)[["order_id","real_price","restaurant_name","year","month"]].value_counts()
new_data = new_data.loc[:,["order_id","restaurant_name"]].value_counts().groupby("restaurant_name").sum()
new_data.sort_values(ascending=False).head(10)

In [ ]:
new_data.index

In [ ]:
from Utils.request import Request

request = Request()
import pandas as pd

In [ ]:
request.big_data

In [ ]:
request.get_number_order_by_city_by_year2(2017,"New York")

In [ ]:
request.get_number_order_by_city_by_year1("San Francisco",2017)

In [ ]:
from Utils.request import Request
request = Request()
import pandas as pd

In [ ]:
data = request.big_data

year = 2017
city = "New York"
restaurant = "Norge Hotel"

if restaurant == None and year == None and city == None:
    order_group = data
else:
    if restaurant != None and year != None and year != None:  
        order_group = data.groupby(["year","city","restaurant_name"],as_index=False)
        order_group = order_group.get_group((year,city,restaurant))
    elif city != None and year != None and restaurant == None:
        order_group = data.groupby(["year","city"],as_index=False)
        order_group = order_group.get_group((year,city))
    elif year != None and city == None and restaurant == None:
        order_group = data.groupby(["year"],as_index=False)
        order_group = order_group.get_group(year)

order_group = order_group[["order_id","restaurant_name","city","year","real_price",]]

order_group.value_counts("order_id").count()

In [ ]:
year = 2017
city = "New York"
restaurant = "Norge Hotel"

request.get_number_order()

In [ ]:
data = request.big_data
#data.drop(data.loc[(data["city"] == "unknown")].index)
data["city"].unique()

In [ ]:
request.get_top_restaurant_order()

In [ ]:
data = request.big_data

order_group = data.groupby("order_id",as_index=False)
data = order_group[["order_id","city"]].value_counts()
data = data.groupby("city",as_index=False).sum()
data.drop("order_id",axis=1,inplace=True)
data = data.rename(columns={"count":"Total orders"})
data

In [ ]:
data = request.big_data

order_group = data.groupby("order_id",as_index=False)
data = order_group[["order_id","city","real_price"]].value_counts()
data = data.groupby("city",as_index=False).sum()
data.drop("order_id",axis=1,inplace=True)
data.drop("count",axis=1,inplace=True)
data = data.rename(columns={"real_price":"Total revenue"})
data

In [ ]:
year = 2017
city = "New York"
restaurant = "Norge Hotel"
order_group[["order_id","real_price","city","street","restaurant_name","year"]].get_group((year,city,restaurant))

In [ ]:
request.get_number_order_by_city_by_year2(2017,"New York")

In [1]:
from Utils.request import Request
request = Request()
import pandas as pd

In [ ]:
request.get_total_number_of_restaurant()

In [ ]:
request.get_total_number_of_street()

In [ ]:
request.get_total_number_order_by_city("New York")

In [ ]:
request.get_total_revenue()

In [ ]:
request.get_number_order_by_city_by_year2(2017,"New York")

In [ ]:
request.get_total_revenue_by_city()

In [ ]:
data = request.big_data

order_group = data.groupby("order_id",as_index=False)
data = order_group[["order_id","city"]].value_counts()
data = data.groupby("city",as_index=False).sum()
data.drop("order_id",axis=1,inplace=True)
data = data.rename(columns={"count":"Total orders"})

data

In [ ]:
data = request.big_data

group_data = data[["order_id","restaurant_name","city","real_price"]].groupby("order_id",as_index=False)
data = group_data.value_counts()
data

In [ ]:
data["New York"] = data.apply(lambda x: )

In [ ]:
request.get_total_orders_cities()

In [ ]:
request.get_total_number_order_by_city()

In [4]:
data = request.big_data
data["city"]

0         San Francisco
1         San Francisco
2         San Francisco
3         San Francisco
4         San Francisco
              ...
486026         New York
486027         New York
486028         New York
486029         New York
486030         New York
Name: city, Length: 480864, dtype: object

In [8]:
data = request.big_data

year_group = data.groupby("year",as_index=False)
new_data = year_group.get_group(year)
new_data = new_data.groupby("order_id",as_index=False)[["order_id","real_price","restaurant_name","year","month"]].value_counts()
new_data = new_data.loc[:,["order_id","restaurant_name"]].groupby("restaurant_name",as_index=False).value_counts()
new_data = new_data.groupby("restaurant_name",as_index=False).count().sort_values("count",ascending=False)
new_data = new_data.sort_values("count",ascending=False)
new_data["count"].sum()

46968