In [1]:
from Utils.data import Data

In [2]:
from Utils.request import Request

In [4]:
request = Request()

In [5]:
data = request.get_restaurant()
data.loc[(data["city"] == "unknown")]

Empty DataFrame
Columns: [opening_hours, city, creation_date, id, street, email, phone_number, name]
Index: []

In [6]:
data = request.big_data
data.loc[(data["city"] == "unknown")]

,price,restaurant_id,orderable_id,orderable_name,order_id,amount_of_item,order_item_id,creation_date_order,customer_id,opening_hours,...,restaurant_name,real_price,day_of_week,day_name,day_of_month,day_of_year,month,month_name,year,week
123546,34.0,233,1534,"Sancerre, Bernard Clement 1996, Loire",132700,3,360769,2018-11-07 21:00:00,13707,12:00-23:00,...,Great Northern,102.0,2,Wednesday,7,311,11,November,2018,45
123547,26.5,233,1530,"Sauvignon Blanc, Chateau Souverain",132700,2,360768,2018-11-07 21:00:00,13707,12:00-23:00,...,Great Northern,53.0,2,Wednesday,7,311,11,November,2018,45
123548,31.6,233,1533,"Wraps: W6 Italian Tuna Wrap (No Mayo No Oil),...",132700,1,360770,2018-11-07 21:00:00,13707,12:00-23:00,...,Great Northern,31.6,2,Wednesday,7,311,11,November,2018,45
123549,34.0,233,1534,"Sancerre, Bernard Clement 1996, Loire",157698,3,428851,2019-01-28 18:59:00,7068,12:00-23:00,...,Great Northern,102.0,0,Monday,28,28,1,January,2019,5
123550,31.6,233,1533,"Wraps: W6 Italian Tuna Wrap (No Mayo No Oil),...",157698,2,428852,2019-01-28 18:59:00,7068,12:00-23:00,...,Great Northern,63.2,0,Monday,28,28,1,January,2019,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483790,30.0,41,259,Barolo Rocche dei Manzoni 1993 DOCG (Piedmont),94807,3,257589,2018-06-27 16:12:00,13347,12:00-23:00,...,Bert Hough & Tony Franker Pabst Blue Ribbon,90.0,2,Wednesday,27,178,6,June,2018,26
483791,29.7,41,263,"Syrah, Lewis Cellars, 1997. (Napa Valley)",53272,1,145082,2018-01-22 21:23:00,7518,12:00-23:00,...,Bert Hough & Tony Franker Pabst Blue Ribbon,29.7,0,Monday,22,22,1,January,2018,4
483792,30.0,41,259,Barolo Rocche dei Manzoni 1993 DOCG (Piedmont),53272,2,145081,2018-01-22 21:23:00,7518,12:00-23:00,...,Bert Hough & Tony Franker Pabst Blue Ribbon,60.0,0,Monday,22,22,1,January,2018,4
483793,29.7,41,263,"Syrah, Lewis Cellars, 1997. (Napa Valley)",108543,1,294987,2018-08-16 14:52:00,47,12:00-23:00,...,Bert Hough & Tony Franker Pabst Blue Ribbon,29.7,3,Thursday,16,228,8,August,2018,33
483794,30.0,41,259,Barolo Rocche dei Manzoni 1993 DOCG (Piedmont),108543,1,294986,2018-08-16 14:52:00,47,12:00-23:00,...,Bert Hough & Tony Franker Pabst Blue Ribbon,30.0,3,Thursday,16,228,8,August,2018,33