In [ ]:
from Utils.request import Request

request = Request()
import pandas as pd

In [ ]:
data = request.big_data
data.drop(data.loc[(data["city"] == "unknown")].index,inplace=True)

In [ ]:
request.get_list_city()[0]

In [ ]:
request.get_number_order_by_city_by_year2(year,city)

In [ ]:
request.get_number_order_by_city_by_year(2017,"San Francisco")

In [ ]:
data.loc[(data["city"] == "unknown")]

In [ ]:
data = request.big_data
data.loc[:,"city"].unique()

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data.count()["order_id"]

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Frasisco") & (data["year"] == 2017)]
data

In [ ]:
data = request.big_data
data = data.loc[(data["city"] == "San Francisco") & (data["year"] == 2019)]
data.count()["order_id"]

In [ ]:
request.get_number_order_by_city_by_year("San Francisco",2018)

In [ ]:
data = request.big_data
data

In [ ]:
data.columns

In [ ]:
data["orderable_name"].value_counts()

In [ ]:
city_group = data.groupby(["city"])
city_year_group = data.groupby(["city","year"])

In [ ]:
city_year_group.get_group(("New York",2017))["restaurant_name"].value_counts()

In [ ]:
year_for_city_group = city_group.get_group("New York").groupby("year")
new_data = year_for_city_group.get_group(2017)
new_data["restaurant_name"].value_counts()

In [ ]:
data["creation_date_order"].value_counts()

In [ ]:
data["opening_hours"].unique()

In [ ]:
data = request.big_data
data = data[["order_id","price","real_price","restaurant_name","city","day_of_month","month","year","creation_date_order"]]
data

In [ ]:
data.groupby(["order_id","creation_date_order"])["real_price"].agg(["sum","mean","max"])

In [ ]:
data["real_price"] = data.groupby("order_id")["real_price"].sum()

In [ ]:
data.groupby("order_id").sum()

In [ ]:
data = request.big_data
city_group = data.groupby(["city"])

In [ ]:
data.columns

In [ ]:
new_data = city_group[["order_id","creation_date_order","month","year"]].get_group("New York").groupby(["order_id","month","year"],as_index=False)["creation_date_order"].value_counts()

In [ ]:
data = request.big_data
city_group = data.groupby(["city"])
new_data = city_group[["order_id","creation_date_order","month","year","city"]].get_group("New York").groupby(["order_id","month","year","city"],as_index=False)["creation_date_order"].value_counts()
new_data = new_data.sort_values("creation_date_order",ascending=False)
new_data

In [ ]:
data = request.big_data

In [ ]:
data

In [ ]:
order_group = data[["order_id","real_price","restaurant_name"]].groupby("order_id",as_index=False)

In [ ]:
restaurant = order_group.value_counts()[["restaurant_name","count"]].groupby("restaurant_name",as_index=False).sum().sort_values("count",ascending=False).head(10)
restaurant.rename(columns={"restaurant_name":"Restaurant"},inplace=True)
restaurant.rename(columns={"count":"Number of order"},inplace=True)

In [ ]:
restaurant

In [ ]:
data = request.big_data
#data.drop((data[data["city"] == "unknown"].columns))
data["city"].unique()

In [ ]:
data = request.big_data
data

In [ ]:
request.get_number_order_by_city_by_year(2017,"San Francisco")

In [ ]:
data = request.big_data
year_group = data.groupby("year",as_index=False)
city_year_group = year_group.get_group(2017).groupby("city")
new_data = city_year_group.get_group("New York")
new_data = new_data.groupby("order_id",as_index=False)[["order_id","real_price","restaurant_name","year","month"]].value_counts()
new_data = new_data.loc[:,["order_id","restaurant_name"]].groupby("restaurant_name",as_index=False).value_counts()
new_data = new_data.groupby("restaurant_name",as_index=False).count().sort_values("count",ascending=False)
new_data.head(10)

In [ ]:
data = request.big_data
year_group = data.groupby("year",as_index=False)
city_year_group = year_group.get_group(2017).groupby("city")
new_data = city_year_group.get_group("New York")
new_data = new_data.groupby("order_id",as_index=False)[["order_id","real_price","restaurant_name","year","month"]].value_counts()
new_data = new_data.loc[:,["order_id","restaurant_name"]].value_counts().groupby("restaurant_name").sum()
new_data.sort_values(ascending=False).head(10)

In [ ]:
new_data.index

In [1]:
from Utils.request import Request

request = Request()
import pandas as pd

In [2]:
request.big_data

,price,restaurant_id,orderable_id,orderable_name,order_id,amount_of_item,order_item_id,creation_date_order,customer_id,opening_hours,...,restaurant_name,real_price,day_of_week,day_name,day_of_month,day_of_year,month,month_name,year,week
0,17.122222,244,1613,Peach tart,145486,3,395579,2018-12-19 18:03:00,4845,13:00-23:00,...,S.S. Constitution,51.366667,2,Wednesday,19,353,12,December,2018,51
1,24.600000,244,1611,San Pellegrino Sparkling Water,145486,2,395576,2018-12-19 18:03:00,4845,13:00-23:00,...,S.S. Constitution,49.200000,2,Wednesday,19,353,12,December,2018,51
2,22.500000,244,1606,Cinnamon Raisin Danish ...1.60,145486,1,395577,2018-12-19 18:03:00,4845,13:00-23:00,...,S.S. Constitution,22.500000,2,Wednesday,19,353,12,December,2018,51
3,26.300000,244,1612,Steak Tartare - with quail egg,145486,2,395578,2018-12-19 18:03:00,4845,13:00-23:00,...,S.S. Constitution,52.600000,2,Wednesday,19,353,12,December,2018,51
4,17.122222,244,1613,Peach tart,95543,3,259604,2018-06-30 15:09:00,6359,13:00-23:00,...,S.S. Constitution,51.366667,5,Saturday,30,181,6,June,2018,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486026,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,141930,1,385873,2018-12-07 21:53:00,7963,13:00-23:00,...,Harvard University,22.200000,4,Friday,7,341,12,December,2018,49
486027,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,60294,1,164039,2018-02-18 18:00:00,5235,13:00-23:00,...,Harvard University,22.200000,6,Sunday,18,49,2,February,2018,7
486028,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,36661,1,100134,2017-11-18 15:01:00,9291,13:00-23:00,...,Harvard University,22.200000,5,Saturday,18,322,11,November,2017,46
486029,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,137324,1,373340,2018-11-23 15:11:00,24557,13:00-23:00,...,Harvard University,22.200000,4,Friday,23,327,11,November,2018,47
486030,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,71570,1,194633,2018-04-02 20:17:00,17064,13:00-23:00,...,Harvard University,22.200000,0,Monday,2,92,4,April,2018,14

In [6]:
request.get_number_order_by_city("New York").value_counts()

restaurant_name                            order_id  count
Billiard Pool And Bowling Tournament       1265      1265     1
Hotel Cecil                                1127      1127     1
Junket Club                                1157      1157     1
Norge Hotel                                1672      1672     1
Park Lane                                  1229      1229     1
Sherrys                                    1187      1187     1
Societe Nationale De Poudres Et Explosifs  1200      1200     1
Society Of Medical Jurisprudence           1135      1135     1
The Lyric Theatre                          1206      1206     1
Waldorf Hotel                              1136      1136     1
dtype: int64

In [10]:
import dash

KeyError: 'order'