In [1]:
from Utils.data import Data
import plotly.express as px
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [2]:
server = Data()

In [3]:
server.connection()

In [4]:
server.connection_log

"the connection didn't succeed. You should check the connection with the client or the database"

In [5]:
dataframes = server.read_all_csv()

In [6]:
for name in dataframes:
    print("-" * 50)
    print("The name of this dataframe : ", name)
    print("The size of this dataframe : ", dataframes[name].shape)
    print("-" * 50)

--------------------------------------------------
The name of this dataframe :  ODL_ORDER_ITEM
The size of this dataframe :  (486031, 5)
--------------------------------------------------
--------------------------------------------------
The name of this dataframe :  ODL_ORDERABLES
The size of this dataframe :  (2790, 4)
--------------------------------------------------
--------------------------------------------------
The name of this dataframe :  ODL_ORDER
The size of this dataframe :  (178724, 4)
--------------------------------------------------
--------------------------------------------------
The name of this dataframe :  ODL_ALLERGY_CUSTOMER
The size of this dataframe :  (37705, 2)
--------------------------------------------------
--------------------------------------------------
The name of this dataframe :  ODL_ALLERGY
The size of this dataframe :  (20, 3)
--------------------------------------------------
--------------------------------------------------
The name of this dataframe :  ODL_RESTAURANT
The size of this dataframe :  (425, 8)
--------------------------------------------------

In [7]:
orderables = dataframes["ODL_ORDERABLES"]

In [8]:
orderables.columns

Index(['price', 'restaurant_id', 'id', 'name'], dtype='object')

In [9]:
restaurant = dataframes["ODL_RESTAURANT"]

In [10]:
restaurant.columns

Index(['opening_hours', 'city', 'creation_date', 'id', 'street', 'email',
       'phone_number', 'name'],
      dtype='object')

In [11]:
for street in restaurant["street"]:
    print(street)

Bayside Village Pl
Leona Terrace
Winn Way - Golden Gate National Recreation Area
Burgoyne St
Carl St
Pond St
Flournoy St
Latona St
Loomis St
Lake Merced Hill S St
Marine Dr
Forest Knolls Dr
Urbano Dr
Fresnel Way
Codman Pl
Donahue St
Moneta Way
Quintara St
Manor Dr
Bowl Dr
Emmet Ct
Faxon Ave
Incinerator Rd
Bird St
Beale St
Ashwood Ln
Edith St
Haight St
Lincoln Way
Leona Terrace
S Hughes Ln - Golden Gate National Recreation Area
Clover St
Sansome St
Doublerock St
Fresnel Way
Harrison St
Tucker Ave
Meadowbrook Dr
John F Kennedy Dr
Avenue M
Knott Ct
Avenue C
Tenny Pl
Cordelia St
Italy Ave
Beacon St
Mansfield St
San Marcos Ave
Sunview Dr
Reservoir Rd
Ocean Ave
Annie St
Burke Ave
Elm St
Calgary St
Laurel St
Flournoy St
Southard Pl
Bosworth St
Harrison Blvd - Golden Gate National Recreation Area
Nevada St
Cabrillo St
Bush St
Nike Rd
Lloyd St
Kenwood Way
Gardenside Dr
R St
Commer Ct
Donner Ave
Annie St
Edinburgh St
Point Lobos
Spofford St
Vesey Pl
W 98th St
Elk St
E 15th St
W 181st St
E 73rd St
Clarkson St
Pitt St
South End Ave
W 102nd St
Fort George Ave
Rockefeller Plaza
Gramercy Park W
W 37th St
W 168th St
E 36th St
3rd Pl
W 116th St
Marketfield St
W 220th St
Pell St
Nathan D Perlman Pl
W 124th St
Gramercy Park N
W 176th St
Riverside Dr
Stuyvesant St
Spruce St
W 174th St
W 154th St
3rd Pl
W 163rd St
W 154th St
Renwick St
W 123rd St
Avenue D
Pearl St
Hay Rd
Hamilton Pl
59th St Bridge
Roosevelt Island Bridge
Penn Plaza
E 9th St
W 82nd St
Legion Memorial Square
Minetta St
Baxter St
Otis St
Mizpah St
French Ct - Golden Gate National Recreation Area
Sola Ave
Ruger St - Golden Gate National Recreation Area
Mason Ct
Cresta Vista Dr
Taber Alley
Bryant Ln
Amador St
Alta St
Park Presidio Blvd
Mansell St
Dodge Pl
Hwy 82
Cashmere St
Badger St
Spreckels Lake Dr
Reuel Ct
Avenue C
Foote Ave
Juri St
Conservatory Access Rd
Dore St
Wilde Ave
Spruce St
Thornton Ave
Dale Pl
Gaviota Way
Jackson St
Dwight St
De Boom St
Redfield Alley
Terra Vista Ave
Monument Way
Dale Pl
Horace St
Central Ave
Bliss St - Golden Gate National Recreation Area
W 119th St
River Rd
University Pl
Marginal St
Gustave L. Levy Pl
W 165th St
Craig Rd N
Manhattan
Marble Hill Ln
W 31st St
Dongan Pl
Colonel Robert Magaw Pl
Short Ave
Tiemann Pl
W 22nd St
John Jay Byrne Bridge
Martin Luther King Blvd
Jones Alley
Centre Market Pl
Escanaba Rd
Cannon St
Hanover Square
2nd St (See E 2nd St below)
W 225th St
Bradhurst Ave
E 55th St
Union Square E
Macdougal St
Amsterdam Ave
E 25th St
Robert F Wagner Sr Pl
Beekman St
Rutgers Slip
W 157th St
59th St Bridge
Main St
Franklin St
E 117th St
W 90th St
Church St
E 101st St
W 116th St
Ferry Line Rd
Avenue A
Thelonius Monk Cir
E 14th St
W 130th St
Arden St
W 9th St
Pomander Walk
Nagle Ave
E 39th St
Lincoln Center Plaza
W 62nd St
Leroy St
E 91st St
Warren St
W 46th St
W 14th St
Queensboro Bridge
W 132nd St
Cooper Square
Thelonius Monk Cir
E 102nd St
Canal St
York Ave
Pomander Walk
Washington Square S
Little West 12th St
Mangin St
Belvedere St
Clearview Ct
Beaver St
Heritage
Edgardo Pl
Coenties Alley
Ecker St
W 157th St
Morris St
Minetta Ln
Santa Cruz Ave
Oliver St
Faxon Ave
Hubbell St
Castle Manor Ave
Belle Ave
W 106th St
Cornwall St
Rose St
W 34th St
Cargo Way
7th Ave
Hill Point Ave
Bernice St
Curtis St
Ingerson Ave
Denslowe Dr
Fort Washington Ave
H St
W 79th St
W 27th St
W 4th St
Clipper St
Rockridge Dr
Buckingham Way
Hooper St
J St
Crespi Dr
Wall St
16th Ave
Avery St
E 8th St
Stow Lake Dr
Alana Way
Higuera Ave
W 157th St
Marengo St
Iron Alley
Lunado Ct
Cesar Chavez
Peralta Ave
Pixley St
Emery Ln
Margaret Ave
E Rd - City College Of San Francisco
E 56th St
Minna St
Sternberg Rd - Golden Gate National Recreation Area
Addison St
Rector Pl
Jefferson St
Ophir Alley
Cameo Way
Mcrae Ln - Golden Gate National Recreation Area
Mayfair Dr
F D R Drive Service Rd E
Randalls Is Rd
Montague Pl
Nottingham Pl
Cleo Rand Ln
W 155th St
Atalaya Terrace
Peninsula Ave
Wall St
Mountain Spring Ave
Bertha Ln
W 42nd St
Lathrop Ave
Lomita Ave
Upton St
Elizabeth St
39th Ave
Bemis St
Vesey St
Milton I Ross Ln
Sheriff St
Toyon Ln
Church St
Bond St
W 181st St
Harlem River Dr
E 50th St
Middle Point Rd
Sullivan St
Leroy St
Bartlett St
E 123rd St
Sawyer St
Rivera St
Paladino Ave
W 22nd St
E 17th St
E 58th St
De Boom St
W 97th St
W 105th St
Mission St
Arballo Dr
E 52nd St
Tapia Dr
Battery Blaney Rd - Golden Gate National Recreation Area
Alma St
W 94th St
Lassen Alley
Chenery St
21st St
Christmas Tree Point Rd
Joost Ave
Amatury Loop - Golden Gate National Recreation Area
E 118th St
Farragut Ave
Melba Ave
Freedom Pl
18th St
King St
Rosenkranz St
Bank St
Moscow St
Diaz Ave
Augusta St
E 4th St
2nd Pl
37th Ave
Joe Dimaggio Hwy
Bret Harte Terrace
E 52nd St
W 125th St
S Street Viaduct
Minetta St
Himmelmann Pl
Lulu Alley
E 113th St
E 34th St
Glen Ct
Clipper Cove Way
Islais St
W 144th St
W Broadway
Crook St - Golden Gate National Recreation Area
Chambers St
E 88th St
Central Ave
Park Pl
Donahue St
W 107th St
E 84th St
Chatham Square
Mcrae Ln - Golden Gate National Recreation Area
Morningside Dr
San Felipe Ave
Harper St
W 82nd St
Harlem River Dr
Albany St
Hiliritas Ave
Queens Midtown Tunnel
Minnesota St
Dyer Ave
El Polin Loop - Golden Gate National Recreation Area
Barrow St
Thompson St
Freeman Ct
Blanche St
Convent Ave
Clementina St
Auburn St
Yerba Buena Dr
Drake St
Jason Ct
Folsom St
Cosmo Pl
W 163rd St
E 132nd St
E 81st St
C St
Duke Ellington Blvd
Cherry St
Cliff St
Freelon St
Belvedere St
W 143rd St
Reade St
Washington Square W
Loyola Terrace
W 60th St

#### Distribution of price

In [12]:
fig = px.histogram(orderables, x="price")
fig.show()

In [13]:
fig = px.histogram(orderables, x="name")
fig.show()

#### Most expensive orderables

In [14]:
most_orderables = orderables.sort_values("price", ascending=False).head(10)

In [15]:
most_orderables

,price,restaurant_id,id,name
523,41.0,411,2691,Chef Thomas Spicy Seafood Risotto Flavored Wit...
1329,40.9,389,2549,Joes Deep Dish Apple Pie
2683,40.8,398,2607,"Seafood Casserole. Scallops, Shrimp, Lobster a..."
2569,40.4,389,2548,Spinach Omelette WITH BACON AND CHEESE
2495,40.3,377,2477,"PoBoy Sandwich. Fried Oysters, Lettuce, Tomato..."
812,39.9,423,2783,Fraise
398,39.7,389,2551,Pacific Coast Sea Bass
801,39.7,413,2711,Veal Chop with Wild Mushrooms & Potato Gnocchi
2592,39.6,398,2608,Fried Fish (2) w. Beef Fried Rice
2288,39.5,389,2550,GINGERED SPRING TOMATO BISQUE WITH BABY ROCK S...

In [16]:
restaurant.groupby("name").head(20)

,opening_hours,city,creation_date,id,street,email,phone_number,name
0,12:00-23:00,San Francisco,10/15/17 20:34,268,Bayside Village Pl,rods_1890s_ranch_house@inbox.com,0499-121761,Rods 1890s Ranch House
1,12:00-23:00,NaN,3/23/18 8:41,337,Leona Terrace,southern_railway@hotmail.com,0496-657871,Southern Railway
2,12:00-23:00,NaN,7/7/17 5:10,162,Winn Way - Golden Gate National Recreation Area,associates_of_the_enginer_corps_and_company_k@...,0495-143410,Associates Of The Enginer Corps And Company K
3,12:00-23:00,NaN,8/7/17 16:57,193,Burgoyne St,the_cleveland_bankers@yahoo.com,0496-641689,The Cleveland Bankers
4,12:00-23:00,NaN,7/7/17 10:37,163,Carl St,the_streamliner@gmail.com,0495-160486,The Streamliner
...,...,...,...,...,...,...,...,...
420,08:00-21:00,New York,7/2/17 19:11,158,W 143rd St,the_radisson_hotels@inbox.com,0494-801377,The Radisson Hotels
421,08:00-21:00,New York,1/11/18 22:36,311,Reade St,west_side_club@inbox.com,0495-442023,West Side Club
422,08:00-21:00,New York,5/15/18 4:06,348,Washington Square W,kemms_cafe_and_restaurant@inbox.com,0495-953773,Kemms Cafe and Restaurant
423,12:00-20:00,San Francisco,4/24/17 1:04,32,Loyola Terrace,national_association_of_photo_engravers@mail.com,0497-606847,National Association Of Photo Engravers
424,12:00-20:00,New York,6/14/17 11:14,129,W 60th St,hotel_worthy@aol.com,0498-745816,Hotel Worthy

In [17]:
order = dataframes["ODL_ORDER"]

In [18]:
order.columns

Index(['restaurant_id', 'creation_date', 'customer_id', 'id'], dtype='object')

In [19]:
number_order = order.groupby("customer_id").count()

#### The customer with the most order

In [20]:
number_order.sort_values("creation_date", ascending=False).head(10)

             restaurant_id  creation_date  id
customer_id
331                     31             31  31
547                     29             29  29
2136                    28             28  28
148                     28             28  28
2735                    27             27  27
4074                    26             26  26
1131                    26             26  26
733                     25             25  25
6397                    25             25  25
369                     25             25  25

In [21]:
allergy = dataframes["ODL_ALLERGY"]

In [87]:
allergy

    allergy_id severity        name
0            7   medium         soy
1            7   medium         soy
2            7   medium         soy
3            7   medium         soy
4            7   medium         soy
5            5     high   tree nuts
6            2     high     peanuts
7            6   medium       wheat
8            6   medium       wheat
9            6   medium       wheat
10           4     high   shellfish
11           1      low        eggs
12           0      low  cow's milk
13           3      low        fish
14           3      low        fish
15           3      low       fishe
16           3      low        fish
17           3      low       fishs
18           3      low        fish
19           3      low        fish

In [88]:
allergy_customer

       allergy_id  customer_id
0               2        25049
1               2        20754
2               2          823
3               2        18708
4               2         3731
...           ...          ...
37700           5        24502
37701           5         2593
37702           5        14999
37703           5        19399
37704           5         5962

[37705 rows x 2 columns]

In [86]:
orderables

,price,restaurant_id,orderable_id,name_of_orderable
0,17.122222,244,1613,Peach tart
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu"
3,8.925679,68,438,Subgum Shrimp Chow Mein
4,29.446886,45,283,Dom Perignon
...,...,...,...,...
2785,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...
2786,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...
2787,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty)
2788,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S..."
2789,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce"

In [22]:
data1 = allergy
data2 = orderables

newData = pd.merge(data2, data1, on="id", how="outer")

In [23]:
print(data1.shape)
print(allergy.shape)
print(data2.shape)
print(newData.shape)
newData

(20, 3)
(20, 3)
(2790, 4)
(2802, 6)

,price,restaurant_id,id,name_x,severity,name_y
0,17.122222,244,1613,Peach tart,NaN,NaN
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...,NaN,NaN
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu",NaN,NaN
3,8.925679,68,438,Subgum Shrimp Chow Mein,NaN,NaN
4,29.446886,45,283,Dom Perignon,NaN,NaN
...,...,...,...,...,...,...
2797,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...,NaN,NaN
2798,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...,NaN,NaN
2799,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty),NaN,NaN
2800,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S...",NaN,NaN
2801,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",NaN,NaN

#### Changing the name 

Change the name of the columns "name_x" and "name_y" (this appears after the merging of thoses two dataframes)

In [24]:
newData = newData.rename(columns={"name_x": "orderables"})
newData = newData.rename(columns={"name_y": "allergy"})

In [25]:
newData

,price,restaurant_id,id,orderables,severity,allergy
0,17.122222,244,1613,Peach tart,NaN,NaN
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...,NaN,NaN
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu",NaN,NaN
3,8.925679,68,438,Subgum Shrimp Chow Mein,NaN,NaN
4,29.446886,45,283,Dom Perignon,NaN,NaN
...,...,...,...,...,...,...
2797,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...,NaN,NaN
2798,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...,NaN,NaN
2799,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty),NaN,NaN
2800,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S...",NaN,NaN
2801,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",NaN,NaN

In [26]:
newData["allergy"].unique()

array([nan, 'tree nuts', 'fish', 'fishe', 'fishs', 'shellfish',
       "cow's milk", 'soy', 'peanuts', 'wheat', 'eggs'], dtype=object)

In [27]:
newData["severity"].unique()

array([nan, 'high', 'low', 'medium'], dtype=object)

#### Changes values

Change the values where "allergy" = nan and "severity" = nan

In [28]:
newData["allergy"].fillna(value="no allergy", inplace=True)
newData["severity"].fillna(value="no severity", inplace=True)

In [29]:
print(newData["severity"].unique())
print(newData["allergy"].unique())
print(newData.shape)

['no severity' 'high' 'low' 'medium']
['no allergy' 'tree nuts' 'fish' 'fishe' 'fishs' 'shellfish' "cow's milk"
 'soy' 'peanuts' 'wheat' 'eggs']
(2802, 6)

In [30]:
newData["allergy"] = newData["allergy"].apply(
    lambda x: "fish" if x == "fishe" or x == "fishs" else x
)

In [31]:
print(newData["allergy"].unique())
print(newData.shape)

['no allergy' 'tree nuts' 'fish' 'shellfish' "cow's milk" 'soy' 'peanuts'
 'wheat' 'eggs']
(2802, 6)

In [32]:
newData.sort_values("price", ascending=False)

,price,restaurant_id,id,orderables,severity,allergy
529,41.0,411,2691,Chef Thomas Spicy Seafood Risotto Flavored Wit...,no severity,no allergy
1339,40.9,389,2549,Joes Deep Dish Apple Pie,no severity,no allergy
2695,40.8,398,2607,"Seafood Casserole. Scallops, Shrimp, Lobster a...",no severity,no allergy
2581,40.4,389,2548,Spinach Omelette WITH BACON AND CHEESE,no severity,no allergy
2505,40.3,377,2477,"PoBoy Sandwich. Fried Oysters, Lettuce, Tomato...",no severity,no allergy
...,...,...,...,...,...,...
20,8.2,143,957,French fries,no severity,no allergy
1703,8.2,51,325,Assorted Fruit Topped Danish ...1.60,no severity,no allergy
565,8.2,18,127,Sorbet,no severity,no allergy
124,8.2,67,426,Main Courses with House Salad (balsamic vinaig...,no severity,no allergy
1140,8.2,170,1136,Moo Shu Baby Shrimp w. 4 Pancakes,no severity,no allergy

## Question
### What is the most expensive dishes

In [33]:
newData[["orderables", "price"]].sort_values("price", ascending=False)

                                             orderables  price
529   Chef Thomas Spicy Seafood Risotto Flavored Wit...   41.0
1339                           Joes Deep Dish Apple Pie   40.9
2695  Seafood Casserole. Scallops, Shrimp, Lobster a...   40.8
2581             Spinach Omelette WITH BACON AND CHEESE   40.4
2505  PoBoy Sandwich. Fried Oysters, Lettuce, Tomato...   40.3
...                                                 ...    ...
20                                         French fries    8.2
1703               Assorted Fruit Topped Danish ...1.60    8.2
565                                              Sorbet    8.2
124   Main Courses with House Salad (balsamic vinaig...    8.2
1140                  Moo Shu Baby Shrimp w. 4 Pancakes    8.2

[2802 rows x 2 columns]

## Question
### What is the least expensive dishes

In [34]:
newData[["orderables", "price"]].sort_values("price", ascending=True)

                                             orderables  price
124   Main Courses with House Salad (balsamic vinaig...    8.2
565                                              Sorbet    8.2
1703               Assorted Fruit Topped Danish ...1.60    8.2
20                                         French fries    8.2
1140                  Moo Shu Baby Shrimp w. 4 Pancakes    8.2
...                                                 ...    ...
2505  PoBoy Sandwich. Fried Oysters, Lettuce, Tomato...   40.3
2581             Spinach Omelette WITH BACON AND CHEESE   40.4
2695  Seafood Casserole. Scallops, Shrimp, Lobster a...   40.8
1339                           Joes Deep Dish Apple Pie   40.9
529   Chef Thomas Spicy Seafood Risotto Flavored Wit...   41.0

[2802 rows x 2 columns]

## Question 
### What is the dishes that contains the most allergies

In [35]:
newData[["allergy", "orderables"]].groupby("orderables").count().sort_values(
    "allergy", ascending=False
)

                                                    allergy
orderables
Onion Soup Gratine                                    8
Mango Carnitas Enchiladas, slowly simmered lean...        8
Braised Pork Loin stuffed with sweet sausage an...        7
Pan Fried Scallops with Anchovy, Capers & Lemon           6
Sanka                                                     6
...                                                     ...
Iced Cappuccino                                           1
Iced coffee or Tea ... 1.50/1.95                          1
Insalata A la Chef MOZZARELLA, SALAMI, CHICKEN,...        1
Insalata Di Casa MIX GREEN SALAD WITH HOUSE DRE...        1
warm valrhona chocolate cake with green tea sauce         1

[1432 rows x 1 columns]

In [36]:
restaurant

,opening_hours,city,creation_date,id,street,email,phone_number,name
0,12:00-23:00,San Francisco,10/15/17 20:34,268,Bayside Village Pl,rods_1890s_ranch_house@inbox.com,0499-121761,Rods 1890s Ranch House
1,12:00-23:00,NaN,3/23/18 8:41,337,Leona Terrace,southern_railway@hotmail.com,0496-657871,Southern Railway
2,12:00-23:00,NaN,7/7/17 5:10,162,Winn Way - Golden Gate National Recreation Area,associates_of_the_enginer_corps_and_company_k@...,0495-143410,Associates Of The Enginer Corps And Company K
3,12:00-23:00,NaN,8/7/17 16:57,193,Burgoyne St,the_cleveland_bankers@yahoo.com,0496-641689,The Cleveland Bankers
4,12:00-23:00,NaN,7/7/17 10:37,163,Carl St,the_streamliner@gmail.com,0495-160486,The Streamliner
...,...,...,...,...,...,...,...,...
420,08:00-21:00,New York,7/2/17 19:11,158,W 143rd St,the_radisson_hotels@inbox.com,0494-801377,The Radisson Hotels
421,08:00-21:00,New York,1/11/18 22:36,311,Reade St,west_side_club@inbox.com,0495-442023,West Side Club
422,08:00-21:00,New York,5/15/18 4:06,348,Washington Square W,kemms_cafe_and_restaurant@inbox.com,0495-953773,Kemms Cafe and Restaurant
423,12:00-20:00,San Francisco,4/24/17 1:04,32,Loyola Terrace,national_association_of_photo_engravers@mail.com,0497-606847,National Association Of Photo Engravers
424,12:00-20:00,New York,6/14/17 11:14,129,W 60th St,hotel_worthy@aol.com,0498-745816,Hotel Worthy

In [37]:
restaurant["city"].unique()

array(['San Francisco', nan, 'New York'], dtype=object)

In [38]:
print(restaurant.shape)
print(newData.shape)

(425, 8)
(2802, 6)

In [39]:
restaurant[restaurant["city"].isna() == True].count()

opening_hours    119
city               0
creation_date    119
id               119
street           119
email            119
phone_number     119
name             119
dtype: int64

In [40]:
restaurant.groupby("city").count()

,opening_hours,creation_date,id,street,email,phone_number,name
city,,,,,,,
New York,148,148,148,148,148,148,148
San Francisco,158,158,158,158,158,158,158

In [41]:
restaurant["city"].fillna(value="unknown", inplace=True)

In [42]:
restaurant.groupby("city").count()

,opening_hours,creation_date,id,street,email,phone_number,name
city,,,,,,,
New York,148,148,148,148,148,148,148
San Francisco,158,158,158,158,158,158,158
unknown,119,119,119,119,119,119,119

In [43]:
street = restaurant[restaurant["city"] == "unknown"]["street"][5]
print(street)

Pond St

In [44]:
streets = restaurant[restaurant["city"] == "unknown"]["street"]

In [45]:
streets.isna().sum()

0

In [46]:
restaurant[restaurant["city"] == "unknown"]["street"].isnull().sum()

0

In [47]:
len(streets)

119

In [48]:
restaurant[["city", "street"]]

              city                                           street
0    San Francisco                               Bayside Village Pl
1          unknown                                    Leona Terrace
2          unknown  Winn Way - Golden Gate National Recreation Area
3          unknown                                      Burgoyne St
4          unknown                                          Carl St
..             ...                                              ...
420       New York                                       W 143rd St
421       New York                                         Reade St
422       New York                              Washington Square W
423  San Francisco                                   Loyola Terrace
424       New York                                        W 60th St

[425 rows x 2 columns]

In [49]:
restaurant

,opening_hours,city,creation_date,id,street,email,phone_number,name
0,12:00-23:00,San Francisco,10/15/17 20:34,268,Bayside Village Pl,rods_1890s_ranch_house@inbox.com,0499-121761,Rods 1890s Ranch House
1,12:00-23:00,unknown,3/23/18 8:41,337,Leona Terrace,southern_railway@hotmail.com,0496-657871,Southern Railway
2,12:00-23:00,unknown,7/7/17 5:10,162,Winn Way - Golden Gate National Recreation Area,associates_of_the_enginer_corps_and_company_k@...,0495-143410,Associates Of The Enginer Corps And Company K
3,12:00-23:00,unknown,8/7/17 16:57,193,Burgoyne St,the_cleveland_bankers@yahoo.com,0496-641689,The Cleveland Bankers
4,12:00-23:00,unknown,7/7/17 10:37,163,Carl St,the_streamliner@gmail.com,0495-160486,The Streamliner
...,...,...,...,...,...,...,...,...
420,08:00-21:00,New York,7/2/17 19:11,158,W 143rd St,the_radisson_hotels@inbox.com,0494-801377,The Radisson Hotels
421,08:00-21:00,New York,1/11/18 22:36,311,Reade St,west_side_club@inbox.com,0495-442023,West Side Club
422,08:00-21:00,New York,5/15/18 4:06,348,Washington Square W,kemms_cafe_and_restaurant@inbox.com,0495-953773,Kemms Cafe and Restaurant
423,12:00-20:00,San Francisco,4/24/17 1:04,32,Loyola Terrace,national_association_of_photo_engravers@mail.com,0497-606847,National Association Of Photo Engravers
424,12:00-20:00,New York,6/14/17 11:14,129,W 60th St,hotel_worthy@aol.com,0498-745816,Hotel Worthy

In [50]:
def change_city():

    unknown_street = []

    for x, city in enumerate(restaurant["city"]):

        if city == "unknown":

            y = x + 5000

            street = restaurant.loc[x, "street"]

            geolocator = Nominatim(user_agent="mycity" + str(x))

            test_location = street + " New York"

            try:

                address = geolocator.geocode(test_location)

            except:

                pass  # print(f"error on row number {x} for the street named '{street}' while trying New York")

            if address is not None:

                restaurant.loc[x, "city"] = "New York"

            else:

                geolocator = Nominatim(user_agent="yourcity" + str(y))

                test_location = street + " San Francisco"

                try:

                    address = geolocator.geocode(test_location)

                except:

                    pass  # print(f"error on row number {x} for the street named '{street}' while trying San Fransisco")

                if address is not None:

                    restaurant.loc[x, "city"] = "San Francisco"
                else:

                    unknown_street.append(restaurant.loc[x, "street"])
    
    return unknown_street

In [51]:
restaurant.shape

(425, 8)

In [52]:
restaurant.loc[:, ["id", "city"]].groupby("city").count()

                id
city
New York       148
San Francisco  158
unknown        119

In [53]:
unknown_street = change_city()

In [54]:
unknown_street

['Winn Way - Golden Gate National Recreation Area',
 'Emmet Ct',
 'Harrison Blvd - Golden Gate National Recreation Area',
 'Legion Memorial Square']

In [55]:
restaurant.loc[:, ["id", "city"]].groupby("city").count()

                id
city
New York       256
San Francisco  165
unknown          4

In [56]:
order

        restaurant_id   creation_date  customer_id      id
0                  91   8/25/17 18:49         2858   17265
1                  91  12/20/17 11:39        10055   44615
2                  91  11/23/18 10:12        13703  137232
3                  91   11/2/18 17:33        14698  131091
4                  91    7/24/18 9:49        14299  102153
...               ...             ...          ...     ...
178719            404    2/8/19 18:23        19527  161413
178720            412   3/15/19 14:46        20362  173165
178721            402    1/3/19 10:19         9193  149327
178722            400    2/4/19 18:05        15050  160047
178723            404   1/19/19 13:06        17098  154457

[178724 rows x 4 columns]

In [57]:
orderables

,price,restaurant_id,id,name
0,17.122222,244,1613,Peach tart
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu"
3,8.925679,68,438,Subgum Shrimp Chow Mein
4,29.446886,45,283,Dom Perignon
...,...,...,...,...
2785,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...
2786,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...
2787,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty)
2788,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S..."
2789,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce"

In [58]:
data1 = order
data2 = orderables

newData = pd.merge(data2, data1, how="outer", on="restaurant_id")

In [59]:
newData

,price,restaurant_id,id_x,name,creation_date,customer_id,id_y
0,17.122222,244,1613,Peach tart,9/4/18 20:52,17165,113837
1,17.122222,244,1613,Peach tart,10/21/18 19:32,6577,127504
2,17.122222,244,1613,Peach tart,1/21/18 16:30,3644,52899
3,17.122222,244,1613,Peach tart,12/20/18 21:03,14363,145847
4,17.122222,244,1613,Peach tart,3/2/18 19:39,6650,63510
...,...,...,...,...,...,...,...
1174099,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,7/20/18 15:43,5951,101094
1174100,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,2/20/18 15:04,7435,60754
1174101,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,4/10/18 15:15,5898,73632
1174102,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,10/26/17 17:36,11423,30874
1174103,22.200000,228,1498,Fried Scallops (10) w. Beef Fried Rice,12/8/18 13:05,21382,142062

In [60]:
newData.groupby("name").count().sort_values("id_y", ascending=False)

,price,restaurant_id,id_x,creation_date,customer_id,id_y
name,,,,,,
Shrimp Cocktail,3442,3442,3442,3442,3442,3442
Braised Pork Loin stuffed with sweet sausage and served with artichoke and zucchini,2876,2876,2876,2876,2876,2876
"Wraps: W6 Italian Tuna Wrap (No Mayo No Oil), Plum Tomato, Leaf Lettuce & Sprouts ... 5.95",2799,2799,2799,2799,2799,2799
Unfiltered Apple Juice,2720,2720,2720,2720,2720,2720
Terrine de canard,2668,2668,2668,2668,2668,2668
...,...,...,...,...,...,...
CAVIAR with Chopped Egg,8,8,8,8,8,8
Fresh Squeezed Orange Juice,8,8,8,8,8,8
Fruit Platter: Sliced Fruit Served with your Choice of Cottage Cheese or Low Fat Yogurt with Tuna Salad,5,5,5,5,5,5
"ROASTED CHICKEN (for two) with garlic cloves, french fries Lami Louis style",5,5,5,5,5,5
Shrimp w. Black Bean Sauce,5,5,5,5,5,5

In [61]:
data1 = order
data2 = restaurant

order_restaurant = pd.merge(data1,data2, how="outer",right_on="id", left_on="restaurant_id")

In [62]:
order_restaurant.drop("id_y",inplace=True,axis=1)
order_restaurant.rename(columns={"id_x":"order_id"},inplace=True)
order_restaurant.rename(columns={"creation_date_x":"creation_date_order"},inplace=True)
order_restaurant.rename(columns={"creation_date_y":"creation_date_restaurant"},inplace=True)
order_restaurant.rename(columns={"name":"name_of_restaurant"},inplace=True)
order_restaurant

,restaurant_id,creation_date_order,customer_id,order_id,opening_hours,city,creation_date_restaurant,street,email,phone_number,name_of_restaurant
0,91,8/25/17 18:49,2858,17265,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...
1,91,12/20/17 11:39,10055,44615,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...
2,91,11/23/18 10:12,13703,137232,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...
3,91,11/2/18 17:33,14698,131091,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...
4,91,7/24/18 9:49,14299,102153,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...
...,...,...,...,...,...,...,...,...,...,...,...
178719,421,3/24/19 22:27,2676,176338,13:00-23:00,San Francisco,3/17/19 2:33,Juri St,corps_consulaire@aol.com,0498-974115,Corps Consulaire
178720,421,3/25/19 17:10,21794,176560,13:00-23:00,San Francisco,3/17/19 2:33,Juri St,corps_consulaire@aol.com,0498-974115,Corps Consulaire
178721,423,3/29/19 20:45,26757,177968,08:00-21:00,San Francisco,3/26/19 15:08,Freeman Ct,mitre_hotel@outlook.com,0499-584187,Mitre Hotel
178722,423,3/29/19 8:41,29034,177700,08:00-21:00,San Francisco,3/26/19 15:08,Freeman Ct,mitre_hotel@outlook.com,0499-584187,Mitre Hotel
178723,423,3/29/19 17:44,21503,177894,08:00-21:00,San Francisco,3/26/19 15:08,Freeman Ct,mitre_hotel@outlook.com,0499-584187,Mitre Hotel

In [63]:
server.get_list_containers()

['ODL_ORDER_ITEM',
 'ODL_ORDERABLES',
 'ODL_ORDER',
 'ODL_ALLERGY_CUSTOMER',
 'ODL_ALLERGY',
 'ODL_RESTAURANT']

In [64]:
print(allergy.columns)
print(allergy.shape)

Index(['id', 'severity', 'name'], dtype='object')
(20, 3)

In [65]:
allergy_customer = dataframes["ODL_ALLERGY_CUSTOMER"]

In [66]:
print(allergy_customer.columns)
print(allergy_customer.shape)

Index(['allergy_id', 'customer_id'], dtype='object')
(37705, 2)

In [67]:
allergy.rename(columns={"id":"allergy_id"},inplace=True)

In [68]:
data1 = allergy
data2 = allergy_customer

allergy_allergy_customer = pd.merge(data1,data2, how="outer",on="allergy_id")

In [69]:
allergy_allergy_customer.rename(columns={"name":"name_of_allergy"},inplace=True)
allergy_allergy_customer

       allergy_id severity name_of_allergy  customer_id
0               7   medium             soy        19287
1               7   medium             soy        29555
2               7   medium             soy        16047
3               7   medium             soy        17537
4               7   medium             soy        20179
...           ...      ...             ...          ...
94152           3      low            fish         2605
94153           3      low            fish        15303
94154           3      low            fish        25405
94155           3      low            fish        19287
94156           3      low            fish        15728

[94157 rows x 4 columns]

In [70]:
data1 = order_restaurant
data2 = allergy_allergy_customer

allergy_allergy_customer_order_restaurant = pd.merge(data1,data2, how="outer",on="customer_id")

In [71]:
allergy_allergy_customer_order_restaurant

,restaurant_id,creation_date_order,customer_id,order_id,opening_hours,city,creation_date_restaurant,street,email,phone_number,name_of_restaurant,allergy_id,severity,name_of_allergy
0,91.0,8/25/17 18:49,2858,17265.0,08:00-21:00,New York,5/25/17 9:39,Paladino Ave,society_of_colonial_wars_in_the_state_of_new_j...,0496-071272,Society Of Colonial Wars In The State Of New J...,4.0,high,shellfish
1,34.0,1/10/18 17:02,2858,50008.0,08:00-21:00,New York,4/25/17 3:03,E 17th St,the_lyric_theatre@inbox.com,0498-370890,The Lyric Theatre,4.0,high,shellfish
2,53.0,8/31/17 19:30,2858,18488.0,08:00-21:00,New York,5/4/17 19:26,E 34th St,sherrys@outlook.com,0494-019956,Sherrys,4.0,high,shellfish
3,23.0,12/9/17 9:46,2858,41860.0,08:00-21:00,New York,4/16/17 19:34,W 105th St,waldorf_hotel@hotmail.com,0497-155341,Waldorf Hotel,4.0,high,shellfish
4,40.0,9/15/18 12:05,2858,116742.0,12:00-23:00,New York,4/28/17 12:25,W 98th St,ocean_house@mail.com,0499-857831,Ocean House,4.0,high,shellfish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612640,NaN,NaN,27594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,low,fishe
612641,NaN,NaN,27594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,low,fish
612642,NaN,NaN,27594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,low,fishs
612643,NaN,NaN,27594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,low,fish
612644,NaN,NaN,27594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,low,fish

In [72]:
len(allergy_allergy_customer_order_restaurant.loc[:,"order_id"].unique())

178725

In [73]:
order_item = dataframes["ODL_ORDER_ITEM"]
order_item

        order_id  amount      id  orderable_id  Column_useless
0         105807       3  287510           118               1
1         123301       3  335129           118               1
2          15476       3   42649           118               1
3          48254       3  131524           118               1
4          85942       3  233501           118               1
...          ...     ...     ...           ...             ...
486026     55938       1  152248           120               1
486027     82767       1  224847           120               1
486028     70184       1  190876           120               1
486029     60660       1  165054           120               1
486030     78030       1  212029           120               1

[486031 rows x 5 columns]

In [74]:
orderables = dataframes["ODL_ORDERABLES"]
orderables.rename(columns={"name":"name_of_orderable"},inplace=True)
orderables.rename(columns={"id":"orderable_id"},inplace=True)
orderables

,price,restaurant_id,orderable_id,name_of_orderable
0,17.122222,244,1613,Peach tart
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu"
3,8.925679,68,438,Subgum Shrimp Chow Mein
4,29.446886,45,283,Dom Perignon
...,...,...,...,...
2785,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...
2786,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...
2787,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty)
2788,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S..."
2789,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce"

In [75]:
data1 = orderables
data2 = order_item

orderables_order_item = pd.merge(data1,data2, how="outer",on="orderable_id")
orderables_order_item.drop("Column_useless",axis=1,inplace=True)
orderables_order_item.rename(columns={"amount":"amount_of_order_item"},inplace=True)
orderables_order_item.rename(columns={"id":"order_item_id"},inplace=True)
orderables_order_item

,price,restaurant_id,orderable_id,name_of_orderable,order_id,amount_of_order_item,order_item_id
0,17.122222,244,1613,Peach tart,145486.0,3.0,395579.0
1,17.122222,244,1613,Peach tart,95543.0,3.0,259604.0
2,17.122222,244,1613,Peach tart,55780.0,3.0,151830.0
3,17.122222,244,1613,Peach tart,132972.0,3.0,361535.0
4,17.122222,244,1613,Peach tart,60554.0,3.0,164765.0
...,...,...,...,...,...,...,...
486031,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",52577.0,1.0,143168.0
486032,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",30189.0,1.0,82626.0
486033,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",99178.0,1.0,269405.0
486034,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",27821.0,1.0,76253.0
486035,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",43898.0,1.0,119625.0

In [76]:
data1 = orderables_order_item
data2 = allergy_allergy_customer_order_restaurant

total = pd.merge(data1,data2, how="outer",on="order_id")
total

,price,restaurant_id_x,orderable_id,name_of_orderable,order_id,amount_of_order_item,order_item_id,restaurant_id_y,creation_date_order,customer_id,opening_hours,city,creation_date_restaurant,street,email,phone_number,name_of_restaurant,allergy_id,severity,name_of_allergy
0,17.122222,244,1613,Peach tart,145486.0,3.0,395579.0,244.0,12/19/18 18:03,4845,13:00-23:00,San Francisco,9/15/17 13:33,Badger St,ss_constitution@aol.com,0496-569278,S.S. Constitution,6.0,medium,wheat
1,17.122222,244,1613,Peach tart,145486.0,3.0,395579.0,244.0,12/19/18 18:03,4845,13:00-23:00,San Francisco,9/15/17 13:33,Badger St,ss_constitution@aol.com,0496-569278,S.S. Constitution,6.0,medium,wheat
2,17.122222,244,1613,Peach tart,145486.0,3.0,395579.0,244.0,12/19/18 18:03,4845,13:00-23:00,San Francisco,9/15/17 13:33,Badger St,ss_constitution@aol.com,0496-569278,S.S. Constitution,6.0,medium,wheat
3,24.600000,244,1611,San Pellegrino Sparkling Water,145486.0,2.0,395576.0,244.0,12/19/18 18:03,4845,13:00-23:00,San Francisco,9/15/17 13:33,Badger St,ss_constitution@aol.com,0496-569278,S.S. Constitution,6.0,medium,wheat
4,24.600000,244,1611,San Pellegrino Sparkling Water,145486.0,2.0,395576.0,244.0,12/19/18 18:03,4845,13:00-23:00,San Francisco,9/15/17 13:33,Badger St,ss_constitution@aol.com,0496-569278,S.S. Constitution,6.0,medium,wheat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1685581,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",159776.0,2.0,434481.0,227.0,2/3/19 20:22,5188,13:00-23:00,New York,9/1/17 8:59,W 130th St,congress_hotel_association@yahoo.com,0494-531353,Congress Hotel Association,7.0,medium,soy
1685582,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",159776.0,2.0,434481.0,227.0,2/3/19 20:22,5188,13:00-23:00,New York,9/1/17 8:59,W 130th St,congress_hotel_association@yahoo.com,0494-531353,Congress Hotel Association,7.0,medium,soy
1685583,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",159776.0,2.0,434481.0,227.0,2/3/19 20:22,5188,13:00-23:00,New York,9/1/17 8:59,W 130th St,congress_hotel_association@yahoo.com,0494-531353,Congress Hotel Association,6.0,medium,wheat
1685584,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",159776.0,2.0,434481.0,227.0,2/3/19 20:22,5188,13:00-23:00,New York,9/1/17 8:59,W 130th St,congress_hotel_association@yahoo.com,0494-531353,Congress Hotel Association,6.0,medium,wheat
1685585,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce",159776.0,2.0,434481.0,227.0,2/3/19 20:22,5188,13:00-23:00,New York,9/1/17 8:59,W 130th St,congress_hotel_association@yahoo.com,0494-531353,Congress Hotel Association,6.0,medium,wheat

In [77]:
total.columns

Index(['price', 'restaurant_id_x', 'orderable_id', 'name_of_orderable',
       'order_id', 'amount_of_order_item', 'order_item_id', 'restaurant_id_y',
       'creation_date_order', 'customer_id', 'opening_hours', 'city',
       'creation_date_restaurant', 'street', 'email', 'phone_number',
       'name_of_restaurant', 'allergy_id', 'severity', 'name_of_allergy'],
      dtype='object')

In [78]:
order_item

        order_id  amount      id  orderable_id  Column_useless
0         105807       3  287510           118               1
1         123301       3  335129           118               1
2          15476       3   42649           118               1
3          48254       3  131524           118               1
4          85942       3  233501           118               1
...          ...     ...     ...           ...             ...
486026     55938       1  152248           120               1
486027     82767       1  224847           120               1
486028     70184       1  190876           120               1
486029     60660       1  165054           120               1
486030     78030       1  212029           120               1

[486031 rows x 5 columns]

In [85]:
order_item

        order_id  amount      id  orderable_id  Column_useless
0         105807       3  287510           118               1
1         123301       3  335129           118               1
2          15476       3   42649           118               1
3          48254       3  131524           118               1
4          85942       3  233501           118               1
...          ...     ...     ...           ...             ...
486026     55938       1  152248           120               1
486027     82767       1  224847           120               1
486028     70184       1  190876           120               1
486029     60660       1  165054           120               1
486030     78030       1  212029           120               1

[486031 rows x 5 columns]

In [89]:
server.get_list_containers()

['ODL_ORDER_ITEM',
 'ODL_ORDERABLES',
 'ODL_ORDER',
 'ODL_ALLERGY_CUSTOMER',
 'ODL_ALLERGY',
 'ODL_RESTAURANT']

In [97]:
order_item = dataframes["ODL_ORDER_ITEM"]
orderables = dataframes["ODL_ORDERABLES"]
order = dataframes["ODL_ORDER"]
restaurant = dataframes["ODL_RESTAURANT"]

In [99]:
dataframes["ODL_ORDERABLES"]

,price,restaurant_id,orderable_id,name_of_orderable
0,17.122222,244,1613,Peach tart
1,28.224527,260,1711,Avocat aux Crevettes avocado and shrimp salad ...
2,27.744477,43,277,"CABERNET SAUVIGNON, Rutherford, Beaulieu"
3,8.925679,68,438,Subgum Shrimp Chow Mein
4,29.446886,45,283,Dom Perignon
...,...,...,...,...
2785,12.500000,52,332,Fusilli Al Salmone CORKSCREW PASTA WITH SALMON...
2786,15.800000,123,829,LONG-STEM DRISCOLL STRAWBERRIES DIPPED IN CHOC...
2787,29.400000,141,941,VEAL CHOP PARMIGIANA (house specialty)
2788,31.400000,364,2384,"Zinfandel, Valsecchi Vineyard, Biale, 1997. (S..."
2789,22.100000,227,1492,"Ferrando: Piedmont, Erbaluce"

In [94]:
order_item.rename(columns={"amount":"amount_of_item"},inplace=True)
order_item.rename(columns={"id":"order_item_id"},inplace=True)
order_item.drop("Column_useless",axis=1,inplace=True)

In [95]:
order_item

        order_id  amount_of_item  order_item_id  orderable_id
0         105807               3         287510           118
1         123301               3         335129           118
2          15476               3          42649           118
3          48254               3         131524           118
4          85942               3         233501           118
...          ...             ...            ...           ...
486026     55938               1         152248           120
486027     82767               1         224847           120
486028     70184               1         190876           120
486029     60660               1         165054           120
486030     78030               1         212029           120

[486031 rows x 4 columns]